# Rust
target
Cargo.lock

# Nix
result
.direnv

# Editor
.vscode
.zed
.idea
*.swp
*.swo
*~


# Database
*.db
*.db-shm
*.db-wal

# Added by cargo
#
# already existing elements were commented out

#/target
